
.center-bottom-buttons
{

}

.pagemovement-button {
    background-color: #11A7B7;
    text-decoration: none;
    color: white;
    padding: 15px;
    border-radius: 15px;
    width: 150px; 
    text-align: center;
    margin-right: 10px; 
    cursor: pointer;
}

.firstpage-button {
    background-color: #11A7B7;
    color: white;
    padding: 15px;
    border-radius: 15px;
    text-decoration: none;
    width: 150px; 
    text-align: center;
    margin-top: 10px; 
    margin-right: 200px; 
}

