h1{
  text-align: center;  
}
.summarycontainer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 20px;

}

.targetContainer{
    text-align: center;
    border: 2px solid gray;
    width: 500px;
    padding: 20px;
    height: auto;
}

.template-display{
    width: 500px; 
    height: auto; 
    margin: 0 auto; 
    margin-top: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px; 
    border: 1px solid gray; 
    word-break: break-all; 
    user-select: text; 
    cursor: pointer; 
    padding: 20px;
    border-width: 2px;
}