/* .shape-container {
    display: flex;
    float: left;
    margin-right: 20px; 
}

.triangle {
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-bottom: 61px solid transparent;
    border-left: 60px solid #11A7B7; 
}

.square {
    position: relative;
    width: 170px;
    height: 120px;
    background-color: #11A7B7; 
}

.instruction {
    position: absolute;
    font-size: 16px;
    color: white;
    width: 150px;
    top: 50px;
    left: 80px;
}

.triangle-hide {
    position: absolute;
    z-index: 10;
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-bottom: 61px solid transparent;
    border-left: 60px solid white; 
}

.shape-container:first-child .square {
    background-color: green;
} */
