
.white-back{
    background-color: white;
    margin: auto;
    width: 60%;
}


.green-underline {
    text-decoration: none;
    position: relative;
    text-align: center;
    color: gray;
    font-size: 20px;
    margin: 0px; 
    padding: 10px;
}

.green-underline::after {
    content: '';
    position: absolute;
    left: 50%; 
    transform: translateX(-50%); 
    bottom: -2px;
    width: 190px;
    height: 2px;
    background-color: #11A7B7;
}
.center-container {
    text-align: center;
}

.pagemovement-button{
    justify-content: center; 
        align-items: center; 
        background-color: #11A7B7; 
        color: white; 
        padding: 15px; 
        border-radius: 15px; 
        text-decoration: none; 
        display: inline-block; 
        margin-top: 20px; 
        margin-left:20px;
        width: 130px; 
        height: 20px; 
        text-align: center; 
}


.centered-container {
    width: 30%;
    margin:auto;
    margin-top:20px;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    max-height: 150px; 
    overflow-y: auto; 
    background-size: cover; 
}

.target-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.target-list li {
    display: block;
    margin: 10px auto;
    text-decoration: underline;
}


ul {
    list-style-type: none; 
    padding: 0; 
}

.circle {
    margin-right: 10px; 
    text-decoration: none; 
    color: white;          
    cursor: pointer;       
    display: inline-block; 
    width: 15px;           
    height: 15px;          
    border-radius: 50%;    
    border: 2px solid gray; 
    text-align: center;    
    vertical-align: middle; 
}

.circle.clicked {
    background-color: #11A7B7; 
}

li {
    vertical-align: middle; 
    margin-bottom: 10px; 
}

body{
    background-image: url('/images/background.jpeg');
            background-size: cover; 
            background-position: center; 
}
