.template-one {
    width: 500px; /* Set width */
    height: auto; /* Set height to auto for dynamic height */
    margin: 0 auto; /* Center horizontally */
    margin-top: 50px; /* Adjust top margin as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; /* Adjust font size as needed */
    border: 1px solid gray; /* Set border color to gray */
    word-break: break-all; /* Break long words and wrap them */
    user-select: text; /* Allow text selection */
    cursor: pointer; /* Show pointer cursor on hover */
}

.template-one.clicked {
    border-color: blue; /* Change border color when clicked */
}
