 /* CSS for the top bar */
 .top-bar {
    color: #fff; /* Text color */
    padding: 10px 20px; /* Padding */
    display: flex; /* Use flexbox for layout */
    align-items: cent er; /* Center items vertically */
    justify-content: space-between; /* Space items evenly */
  }
  
  /* CSS for the logo */
  .logo img {
    width: 50px; /* Width of the logo */
    height: auto; /* Maintain aspect ratio */
  }
  
  /* CSS for the title */
  .title {
    color: gray;
    text-align: center;
    padding-right: 230px;
  }

  .container{
    float: left;
    width: 200px;
  }

/* CSS for the logout button */
.logout-button {
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        background-color: #767676; /* Gray background color */
        color: white; /* Text color */
        padding: 15px; /* Padding */
        border-radius: 15px; /* Rounded corners */
        text-decoration: none; /* Remove default link underline */
        display: inline-block; /* Display as inline block */
        margin-top: 20px; /* Margin from the top */
        margin-left:20px;
        width: 130px; /* Fixed width */
        height: 20px; /* Fixed height */
        text-align: center; /* Center text horizontally */
    }

    .dashboard-page .logout-button + .logout-button {
      display: none;
  }

    /* CSS for hover effect */
    .logout-button:hover {
        background-color: #999; /* Darker gray on hover */
    }

